<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092134505291-op36enbh8kmrnl9q37ckdsmbg25qi4n2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092134505291-op36enbh8kmrnl9q37ckdsmbg25qi4n2</string>
	<key>API_KEY</key>
	<string>AIzaSyDwr6GPZTJyiFA8X3aRPYBfXLtTU34rBic</string>
	<key>GCM_SENDER_ID</key>
	<string>1092134505291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.machinelearningsolutions.fishfinder</string>
	<key>PROJECT_ID</key>
	<string>fishfinder-c69a3</string>
	<key>STORAGE_BUCKET</key>
	<string>fishfinder-c69a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092134505291:ios:9752b664139dbc65c476ce</string>
	<key>DATABASE_URL</key>
	<string>https://fishfinder-c69a3.firebaseio.com</string>
</dict>
</plist>